*{
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url("img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    max-width: 1440px;
  }

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 10px; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    width: 450px;
    height: 720px;
    margin: 100px auto;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 10px 15px hsl(225, 92%, 90%);
}

.img {
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: drop-shadow(0px 0.5px 1px hsl(224, 23%, 55%));
  }
  
.text-title { 
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 32px;
    position: relative;
	text-align: center;
    margin: 60px auto 20px auto;
  }

.text-content {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    position: relative;
	text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.inner-content{
    background-color: hsl(225, 100%, 98%);
    width: 75%;
    height: 100px;
    margin: 30px auto;
    border-radius: 10px;
}


.first {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    position: relative;
    float: left;
    list-style: none;
    padding-left: 0;
    left: 10%;
    top: 12%;
  
}

#value {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    

}

.second {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    font-size: 16px;
    position: relative;
    float: right;
    top: 20%;
    right: 25px;
}

.icon {
    background-image: url(img/icon-music.svg);
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    top: 25%;
    left: 5%;
}

.buttom {
    position: relative;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 5px;
    color: hsl(225, 100%, 98%);
    text-align: center;
    font-size: 16px;
    width: 75%;
    height: 40px;   
    left: 12.5%;
    filter: drop-shadow(0px 8px 8px hsl(224, 36%, 77%));
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

.buttom:hover{opacity: 0.6;}

.cancel { 
    position: relative;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    text-align: center;
    top: 20px;
    cursor: pointer;
}